{% extends 'base.html'%}

{%block content%}


<div class="list-group">
    <br>
    <div class="list">
      <p  class="list-group-item list-group-item-action flex-column align-items-start text-center disabled">
        Shop Names
      </p>
      {% for shop in shops %}
<!--		   <li>-->
        <a href="{% url 'shop_chart' id=shop.name %}"
           class="list-group-item list-group-item-action list-group-item-dark flex-column text-center">
            {{ shop.name }} <span class="badge badge-pill badge-primary">{{ shop.sa }}</span>
        </a>
<!--		   </li>-->
      {% endfor %}

    </div>

</div>

{% endblock %}